/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    /* Estilo para o formulário */
    display: flex; /* Ativa o flexbox */
    flex-direction: column; /* Define a direção dos itens como coluna */
    justify-content: center; /* Centraliza verticalmente os itens */
    align-items: center; /* Centraliza horizontalmente os itens */
    height: 10vh; /* Define a altura do formulário como 100% da altura da janela */
    margin-top: 20px;
}
header h2{
    font-size: small;
    
}


/* Estilo para o conteúdo principal */
main {
    height: 80vh;
    width: 80%; /* Define a largura do formulário */
    max-width: 800px; /* Define a largura máxima */
    margin: 50px auto; /* Centraliza o formulário horizontalmente */
    padding: 20px; /* Adiciona espaço interno ao formulário */
    background-color: #9ae6ba7e; /* Cor de fundo do formulário */
    border-radius: 8px; /* Adiciona cantos arredondados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}



/* Estilo para os links */
main > a {
    line-height: 130px;
    display: block; /* Transforma os links em blocos */
    padding: 10px; /* Adiciona espaço interno */
    text-decoration: none; /* Remove sublinhado */
    color: #333; /* Cor do texto */
    background-color: #d2fce3c2; /* Cor de fundo */
    border-radius: 5px; /* Adiciona cantos arredondados */
    margin-bottom: 10px; /* Adiciona espaço entre os links */
}

/* Estilo para os links quando passar o mouse por cima */
main a:hover {
    background-color: #ccc; /* Altera a cor de fundo quando passar o mouse por cima */
}
